<div class="row">
	<div class="col-sm-12">
		<img alt="{{recipeDetails.name}}" class="img-fluid" [src]="recipeDetails.imagePath" style="max-height: 200px;" />
  </div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<p>{{recipeDetails.name}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<!-- <div class="button-group" appDropdown>
        <button class="btn btn-primary dropdown-toggle" type="button">Manage Recipe <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">The Shoipping list</a></li>
          <li><a href="#">Edit Recipe</a></li>
          <li><a href="#">Delete Recipe</a></li>
        </ul>
			</div> -->
			<div class="button-group">
				<button type="button" class="btn btn-outline-primary mr-3" (click)="onShoppingListAdded()">To Shoipping list</button>
				<button type="button" class="btn btn-outline-secondary mr-3">Edit Recipe</button>
				<button type="button" class="btn btn-outline-danger">Delete Recipe</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<p>{{recipeDetails.description}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item" *ngFor="let recipeDetail of recipeDetails.ingradients">
					{{recipeDetail.name}} - {{recipeDetail.amount}}
				</li>
			</ul>
		</div>
	</div>