<div class="row">
	<div class="col-sm-12">
		<img alt="{{recipeDetails.name}}" class="img-fluid" [src]="recipeDetails.imagePath" />
  </div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<p>{{recipeDetails.name}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="button-group" appDropdown>
        <button class="btn btn-primary dropdown-toggle" type="button">Manage Recipe <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">The Shoipping list</a></li>
          <li><a href="#">Edit Recipe</a></li>
          <li><a href="#">Delete Recipe</a></li>
        </ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<p>{{recipeDetails.description}}</p>
		</div>
	</div>
  <div class="row">
		<div class="col-sm-12">
			<p>Ingradients</p>
		</div>
	</div>