<div class="row">
	<div class="col-sm-12">
		<form>
			<div class="form-group">
				<label for="email">Email</label>
        <input type="email" id="email" class="form-control" />
			</div>
      <div class="form-group">
				<label for="password">Password</label>
        <input type="password" id="password" class="form-control" />
			</div>

      <div class="form-group">
        <button type="submit" class="btn btn-success mr-3">{{isLoggedIn? 'Login': 'Sign Up'}}</button>
        <button class="btn btn-success" (click)="onSwitchMode()">Switch to {{isLoggedIn? 'Sign Up' : 'Login'}}</button>
      </div>
		</form>
	</div>
</div>